:root {
    --light: #A875F0;
    --middle: #855cbd;
    --dark: #4f3770;
    --text: #d5bff2;
    --black: #625970;
    --logo1: 'Rubik Vinyl', cursive;
    --font: 'Sofia Sans Condensed', sans-serif;
    --fancy1: 'Yeon Sung', cursive;
    --fancy2: 'East Sea Dokdo', cursive;

};


